<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Australia</title>
</head>

<body>
    <h1>Australia Tribute Page</h1>
    <p></p>
    <p>El país ocupa la principal masa continental de la plataforma llamada Sahul, además de algunas
     islas en los océanos Pacífico, Índico y Antártico. Los países más cercanos a Australia son Indonesia,
     Timor Oriental y Papúa Nueva Guinea al norte, las Islas Salomón, Vanuatu y la dependencia francesa
     de Nueva Caledonia al noreste, y Nueva Zelanda al sureste. Australia es el sexto país más grande del mundo.
     Su capital, Canberra, se encuentra en el Territorio de la Capital Australiana. La población del país (según la estimación para 2020) 
     es de más de 25 millones de habitantes, concentrados principalmente en las grandes ciudades costeras: Sídney, Melbourne, 
     Brisbane, Perth, Adelaida y la capital Canberra.</p>

    <p>Australia es un país que parece un continente. Aislado del mundo conocido durante mucho tiempo, ofrece unos paisajes, 
    flora y fauna distintos a todo.</p>

    <a href="https://fundacionio.com/viajarseguro/paises/australia/">go to Fundacion IO</a>
    <a href="https://www.skyscanner.es/noticias/que-ver-en-australia-10-rincones-imprescindibles-que-visitar-pa">Los 10 Rincones más bonitos de Australia</a>



     <h2> 6 Lugares que no te puedes perder de Australia</h2>

     <h2> 1-Ayers Rock (Uluru)</h2>
    <p>Uluru se erige, como un gigantesco monolito rojizo, casi en el centro del país.
    La formación de roca caliza se levanta unos 350 metros sobre el suelo y su contorno
    mide unos 9,4 kilómetros. Para visitar este icono aborigen – joya principal del Parque
     Nacional Uluru-Kata Tjuta – tienes que recorrer 450 km de carretera desde la ciudad más próxima,
     Alice Springs. Alrededor de Uluru puedes encontrar un gran número de riachuelos, cuevas y antiguas
      pinturas con significados sagrados.</p>
     <a href="https://www.skyscanner.es/noticias/que-ver-en-australia-10-rincones-imprescindibles-que-visitar-pa">Los 10 Rincones más bonitos de Australia</a>

    <h2>2-Los Doce Apóstoles (Twelve Apostles), Parque Nacional de Port Campbell</h2>
    <p>Uno de los paisajes naturales más bellos que ver en Australia, demuestra que a veces no hay mejor
     escultora que la Madre Naturaleza. Apenas quedan diez de los llamados Doce Apóstoles. Estos gigantes
     de roca caliza parecen, sin embargo, solitarios y frágiles mientras soportan, en primera línea, las
     embestidas de las furiosas aguas del océano.

     Esa agua fue erosionando la roca que los unía a los acantilados, creando uno de los paisajes más buscados
     por aquellos que deciden visitar Australia. Se encuentran en el Parque Nacional de Port Campbell, en el estado
     de Victoria. I.</p>
     <a href="https://www.skyscanner.es/noticias/que-ver-en-australia-10-rincones-imprescindibles-que-visitar-pa">Los 10 Rincones más bonitos de Australia</a>

    <h2>3-La Gran Barrera de Coral (The Great Barrier Reef)</h2>
    <p>Todos los buceadores del mundo sitúan a la Gran Barrera de Coral en el primer puesto de la lista de lugares que
     visitar en Australia. El mayor arrecife de coral de nuestro planeta se halla frente a la costa de Queensland, al
     noreste del país.
     Más de 100 especies distintas de tiburones, mantarrayas, tortugas, unas 1.800 distintas de peces y 400 de coral,
     componen el fondo marino más espectacular del planeta.  </p>
     <a href="https://www.skyscanner.es/noticias/que-ver-en-australia-10-rincones-imprescindibles-que-visitar-pa">Los 10 Rincones más bonitos de Australia</a>

    <h2>4-Isla Fraser</h2>
    <p>Uno de los más curiosos lugares que ver en Australia es la isla Fraser, situada unos 200 km al norte de la ciudad
     de Brisbane. Con sus 120 km de largo y 24 km de ancho, se trata de la isla de arena más grande del mundo. Además, cuenta
     con unos 100 lagos de agua dulce, diseminados entre bosques tropicales, de eucaliptos y manglares.  </p>
     <a href="https://www.skyscanner.es/noticias/que-ver-en-australia-10-rincones-imprescindibles-que-visitar-pa">Los 10 Rincones más bonitos de Australia</a>


     <h2>5-Las Montañas Azules (Blue Mountains)</h2>
     <p>Esta cadena montañosa se encuentra a tan sólo 50 km de Sídney y es una perfecta escapada en la naturaleza para quienes
     estén de paso en la ciudad más poblada de Australia..  </p>
     <a href="https://www.skyscanner.es/noticias/que-ver-en-australia-10-rincones-imprescindibles-que-visitar-pa">Los 10 Rincones más bonitos de Australia</a>

    <h2>6-El lago de agua rosada "Lake Hillier" Australia</h2>
    <p>El extraordinario Lago Hillier y sus particulares aguas teñidas de rosado es una de las pocas masas de agua con estas
     características conocidas en el mundo, de ahí el asombro y la particular sensación de fascinación que genera.
     El Hillier se halla ubicado en Middle Island, la más grande de las islas del archipiélago de Recherche, al sur occidente de Australia.

     Se encuentra separado del océano por una espesa vegetación, rodeado de dunas de arena y un borde blanco compuesto de sal; pero su característica
     principal es el color rosa permanente, el cual no se altera cuando se pone dentro de un recipiente.    </p>
    <a href="https://www.descubretumundo.net/2012/12/interesante-lago-de-agua-rosada-hillier.html">El lago de agua rosada Descubre</a>




</body>

</html>
